*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: calc(100% - 50px);

}


.wrapper{
    margin: 10px;
    height: 100%;

}

.button{
    font-size: 25px;
    padding: 10px;
    font-weight: bolder;
    color: white;
    background-color: brown;
    border: 1px;
    width: 100px;

}

.top-area{
    padding: 15px;
    text-align: center;
}